---
import Section from './Section.astro'
---

<Section id="about" isGrey title="About the project">
  <div class="max-w-3xl">
    <p class="mb-3">
      We are a team of crypto enthusiasts striving to make the life of travelers
      on the Azores islands even more exciting and convenient. Our project
      combines the amazing beauty of nature with innovative crypto technologies.
    </p>
    <p class="mb-3">
      We connect entrepreneurs and travelers to make crypto payments easy and
      convenient, for both sides.
    </p>
    <p class="mb-3">
      We're also proud of supporting small local businesses on the islands,
      helping them grow and thrive in the global economy.
    </p>
    <p class="italic">
      Discover the Azores in all its charm, and pay with cryptocurrencies!
    </p>
  </div>
</Section>
