---
interface Props {
  id?: string
  isGrey?: boolean
  title?: string
}

const { id, isGrey = false, title } = Astro.props
---

<div class:list={[{ 'bg-gray-section': isGrey }]}>
  <section class="px-6 w-full max-w-6xl mx-auto py-24" id={id}>
    {
      title && (
        <div class="mb-12 md:flex md:gap-12 md:items-center">
          <h2 class="uppercase text-2xl/tight md:text-4xl/tight text-brand text-center mb-5 md:mb-0 font-medium md:whitespace-nowrap">
            {title}
          </h2>
          <div
            aria-hidden="true"
            class="w-full h-[2px] bg-orange-gradient"
            role="separator"
          />
        </div>
      )
    }
    <slot />
  </section>
</div>
