---
import Layout from './Layout.astro'

interface Props {
  frontmatter: {
    description: string
    title: string
  }
}

const {
  frontmatter: { description, title },
} = Astro.props
---

<Layout title={title}>
  <div class="md">
    <slot />
  </div>
</Layout>
